.main-content {
  color: azure;
  font-size: larger;
  zoom: 140%;
  align-items: center;
  padding-left: 125px;
  padding-top: 145px;
}

.get-started {
  zoom: 150%;
  margin-top: 35px;
}

.contents {
  color: azure;
  zoom: 140%;
  align-items: center;
  padding-left: 100px;
  padding-top: 50px;
}

.create-res-button {
  padding: 2px;
  margin-left: 100px;
  margin-top: 125px;
  zoom: 120%
}

.profile-welcome{
  color: azure;
  font-size: xx-large;
  zoom: 140%;
  padding-left: 100px;
  padding-top: 20px;
}

.resume-creation {
  color: azure;
  font-size: xx-large;
  zoom: 80%;
  padding-left: 225px;
  padding-top: 62px;
  display: list-item;
}

.create-res-textbox {
  zoom: 160%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 25px;
  display: list-item;
  width: 40%;
  height: 35;
}

.create-res-submitbox {
  zoom: 160%;
  margin-left: 20px;
  margin-top: 30px;
}

.cover-letter-title {
  margin-bottom: 25px;;
}

.show-page-body-text {
  color: azure;
  font-size: medium;
  zoom: 70%;
  padding-left: 25px;
  padding-top: 32px;
  display: list-item;
  white-space: pre-wrap; 
  
}


/* white-space: pre-wrap;  */